<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Acceuil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home.homepage') }}">Dash-Resto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <li class="nav-item active"><a class="nav-link" href="{{ url_for('home.dashboard') }}">Tableau de bord</a></li>
                    <li class="nav-item "><a class="nav-link" href="{{ url_for('home.recherche') }}">Rechercher</a></li>
                    <li class="nav-item "><a class="nav-link" href="{{ url_for('home.donnee') }}">statistique</a></li>
                    <li class="nav-item "><a class="nav-link" href="{{ url_for('auth.logout') }}">déconnexion</a></li>
                    <li class="nav-item "><a class="nav-link" ><i class="fa fa-user"></i>  bienvenue, {{ current_user.username }}!</a></li>
                {% else %}
                  <li class="nav-item "><a class="nav-link" href="{{ url_for('home.homepage') }}">Acceuil</a></li>
                  <li class="nav-item "><a class="nav-link" href="{{ url_for('auth.register') }}">s'inscrire</a></li>
                  <li class="nav-item "><a class="nav-link" href="{{ url_for('auth.login') }}">se connecter</a></li>
                {% endif %}
            </ul>
        </div>
      </nav>
      <div class="wrapper">
        {% block body %}
        {% endblock %}
        <div class="push"></div>
      </div>



</body>